.display-grid {
    display: grid;
}

.username-text {
    font-size: 14px;
    font-weight: 700;
}

.image-location {
    font-size: 12px;
}

.button-hover:hover {
    color: #2b2f32;
}

.liked {
    color: red;
}